@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

/* CSS Document */

html body{
	background:#807015;
	margin:0;
	font-family: 'cwTeXFangSong', serif;
}

/*----------------------------------------*/
div.container{
	width:800px;
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
}

/*----------------------------------------*/


/*----------------------------------------*/
div.navbar{
	height:40px;
	background: #ffaaaa;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
	padding-left: 200px;
}

ul li{
	width:100px;
	text-align: center;
	height:40px;
	line-height: 40px;
	float: left;
}

ul li a{
	text-decoration:none;
	color:#000;
}

ul li a:hover{
	text-decoration:none;
	color:#fff;
	font-size:20px;
}

/*----------------------------------------*/

div.content{
	background:#fff;
	padding:20px 50px 30px 50px;
	text-align:justify;
	position:relative; /*absolute 絕對 relative 相對*/
	top:80px;
	line-height:28px;
}

img.avatar{
	border-radius:40px;
	box-shadow:0px 3px 5px 0px #000;
	margin-top:15px;
}

h1.title{
	display: inline;
	position:relative;
	top:-25px;
	left:20px;
	font-size:30px;
	font-weight:550;
}

h2{
	font-size:26px;
	font-weight:550;
}

table{
	border : 1px solid #ffaaaa;
	border-left : 15px solid #ffaaaa;
	padding: 5px 20px;
	border-radius: 10px;
}

table tr:nth-child(1) td,
table tr:nth-child(2) td
{
	border-bottom: 1px dotted #ffaaaa;
}

table tr td :nth-child2(){
	font-size: 13px;
}
/*----------------------------------------*/
div.footer{
	height:60px;
	background:#554900;
	text-align:center;
	line-height:60px;
}