<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flexslider.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Nav -->
		<nav id="nav">
			<ul><a href="/" id="logo">ACT JOURNAL</a>

				<li class="current"><a href="/">首頁</a></li>
				<!--<li><a href="#">搜尋</a></li>-->
				<li>
					<a href="#">書櫃</a>
					<ul>
						<li><a href="#">個人書櫃</a></li>
						<li><a href="newbookself">新增書櫃</a></li>
					</ul>
				</li>
				<li>
					<a href="#">手帳</a>
					<ul>
						<li><a href="#">個人手帳</a></li>
						<li><a href="newnote">新增手帳</a></li>
					</ul>
				</li>
				<li>
					<a href="#">素材庫</a>
					<ul>
						<li><a href="#">模板</a></li>
						<li><a href="#">手帳</a></li>
						<li><a href="#">素材</a></li>
					</ul>
				</li>
				<li>
					<a href="#">追蹤名單</a>
					<ul>
						<li><a href="#">粉絲</a></li>
						<li><a href="#">追蹤中</a></li>
					</ul>
				</li>
				<li>
					<a href="#">個人檔案</a>
					<ul>
						<li><a href="#">編輯個人簡介</a></li>
						<li><a href="#">修改隱私設定</a></li>
					</ul>
				</li>
				<!-- 登入登出註冊 -->
				<li><a href="#">登入</a></li>

			</ul>
		</nav>

		<section class="tm-banner">
			<!-- Flexslider -->
			<div class="flexslider flexslider-banner">
				<ul class="slides">
					<li>
						<div class="tm-banner-inner">
							<br>
							<h1 class="tm-banner-title">追蹤推薦</h1>
							<p class="tm-banner-subtitle">Follow Recommend</p>
							<a href="#" class="tm-banner-link">Learn More</a>
						</div>
						<img src="/img/banner-3.jpg" alt="Image" />
					</li>
					<li>
						<div class="tm-banner-inner">
							<br>
							<h1 class="tm-banner-title">熱門手帳</h1>
							<p class="tm-banner-subtitle">Best Journal</p>
							<a href="#" class="tm-banner-link">Learn More </a>
						</div>
						<img src="/img/banner-1.jpg" alt="Image" />
					</li>
					<li>
						<div class="tm-banner-inner">
							<br>
							<h1 class="tm-banner-title">熱門素材</h1>
							<p class="tm-banner-subtitle">Popular Material</p>
							<a href="#" class="tm-banner-link">Learn More</a>
						</div>
						<img src="/img/banner-2.jpg" alt="Image" />
					</li>

				</ul>
			</div>
		</section>

		<!-- Main -->
		<section id="main">
			<div class="container">
				<div class="row gtr-200">

					<div class="col-12">

						<!-- Features -->
						<section class="box features">
							<h2 class="major"><span>追蹤推薦</span></h2>
							<div>
								<div class="row">
									<div class="col-3 col-6-medium col-12-small">

										<!-- Feature -->
										<section class="box feature">
											<a href="#"><img src="/img/about-4.jpg" alt="" class="img-user" /></a>
											<h3><a href="#">Thomas</a></h3>
											<p>
												你是光，照亮我的世界，使我的世界不再有黑暗籠罩
											</p>
											<div class="col-12">
												<ul class="actions">
													<li><a href="#" class="button">追蹤</a></li>
												</ul>
											</div>
										</section>

									</div>
									<div class="col-3 col-6-medium col-12-small">

										<!-- Feature -->
										<section class="box feature">
											<a href="#"><img src="/img/about-5.jpg" alt="" class="img-user" /></a>
											<h3><a href="#">Keith</a></h3>
											<p>
												你只要繼續的往前，不用回頭，因為我會在你的身後支持你
											</p>
											<div class="col-12">
												<ul class="actions">
													<li><a href="#" class="button">追蹤</a></li>
												</ul>
											</div>
										</section>

									</div>
									<div class="col-3 col-6-medium col-12-small">

										<!-- Feature -->
										<section class="box feature">
											<a href="#"><img src="/img/about-6.jpg" alt="" class="img-user" /></a>
											<h3><a href="#">Tom</a></h3>
											<p>
												喜愛釣魚，我有一個可愛的弟弟，弟弟的攝影技術很好
											</p>
											<div class="col-12">
												<ul class="actions">
													<li><a href="#" class="button">追蹤</a></li>
												</ul>
											</div>
										</section>

									</div>
									<div class="col-3 col-6-medium col-12-small">

										<!-- Feature -->
										<section class="box feature">
											<a href="#"><img src="/img/about-7.jpg" alt="" class="img-user" /></a>
											<h3><a href="#">Jerry</a></h3>
											<p>
												喜歡攝影，我有一個很疼我的哥哥，喜歡一個人到處走走
											</p>
											<div class="col-12">
												<ul class="actions">
													<li><a href="#" class="button">追蹤</a></li>
												</ul>
											</div>
										</section>

									</div>
								</div>
							</div>
						</section>

						<section class="box features">
							<h2 class="major"><span>熱門手帳</span></h2>
							<div class="row">
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-03.jpg"
												alt="" /></a>
										<h3><a href="#">手帳名稱</a></h3>
										<i class="fas fa-hashtag"></i>路 終點<br>
										<p></p>
										<p>
											那路雖然遙遠漫長，但有你陪我一起走，不孤單
										</p>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-heart"></i> 按讚</a></li>
											</ul>
										</div>
									</section>

								</div>

								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-04.jpg"
												alt="" /></a>
										<h3><a href="#">手帳名稱</a></h3>
										<i class="fas fa-hashtag"></i>沉默 沙丘<br>
										<p></p>
										<p>
											尋找失落的沙洲，我用力張開雙手，隨時間漂流
										</p>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-heart"></i> 按讚</a></li>
											</ul>
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-05.jpg"
												alt="" /></a>
										<h3><a href="#">手帳名稱</a></h3>
										<i class="fas fa-hashtag"></i>鐵道之旅<br>
										<p></p>
										<p>
											終於沒人，輪到我拍了 ! <br>鐵道上一堆人，很危險 !
										</p>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-heart"></i> 按讚</a></li>
											</ul>
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-06.jpg"
												alt="" /></a>
										<h3><a href="#">手帳名稱</a></h3>
										<i class="fas fa-hashtag"></i>林蔭路上 黃昏之下<br>
										<p></p>
										<p>
											走在一個人的路上，有著說不出的惆悵，默默留下兩行淚
										</p>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-heart"></i> 按讚</a></li>
											</ul>
										</div>
									</section>

								</div>
							</div>
						</section>
						<section class="box features">
							<h2 class="major"><span>熱門素材</span></h2>
							<div class="row">
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-03.jpg"
												alt="" /></a>
										<h3><a href="#">素材名稱</a></h3>
										<i class="fas fa-hashtag"></i>路 終點<br>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-plus"></i> 加入素材庫</a>
												</li>
											</ul>
										</div>
									</section>

								</div>

								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-04.jpg"
												alt="" /></a>
										<h3><a href="#">素材名稱</a></h3>
										<i class="fas fa-hashtag"></i>沉默 沙丘<br>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-plus"></i> 加入素材庫</a>
												</li>
											</ul>
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-05.jpg"
												alt="" /></a>
										<h3><a href="#">素材名稱</a></h3>
										<i class="fas fa-hashtag"></i>鐵道之旅<br>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-plus"></i> 加入素材庫</a>
												</li>
											</ul>
										</div>
									</section>

								</div>
								<div class="col-3 col-6-medium col-12-small">

									<!-- Feature -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/img/index-06.jpg"
												alt="" /></a>
										<h3><a href="#">素材名稱</a></h3>
										<i class="fas fa-hashtag"></i>林蔭路上 黃昏之下<br>
										<div class="col-12">
											<ul class="actions">
												<li><a href="#" class="button"><i class="fas fa-plus"></i> 加入素材庫</a>
												</li>
											</ul>
										</div>
									</section>

								</div>
							</div>
						</section>

						<!-- Footer 可刪 -->
						<footer id="footer">
							<div class="container">
								<div class="row gtr-200">
									<div class="col-12">

										<!-- Contact -->
										<section>
											<h2 class="major"><span>Get in touch</span></h2>
											<ul class="contact">
												<li><a class="icon brands fa-twitter" href="#"><span
															class="label">Twitter</span></a>
												</li>
												<li><a class="icon brands fa-instagram" href="#"><span
															class="label">Instagram</span></a></li>
											</ul>
										</section>

									</div>
								</div>

								<!-- Copyright -->
								<div id="copyright">
									<ul class="menu">
										<li>Design</li>
										<li>&copy;
											<a href="index.ejs">NTUB110508</a>
										</li>
									</ul>
								</div>
							</div>
						</footer>

					</div>

					<!--navbar外掛-->
					
					<script src="/js/jquery.min.js"></script>
					<script src="/js/jquery.dropotron.min.js"></script>
					<script src="/js/util.js"></script>
					<script src="/js/jquery.scrolly.min.js"></script>
					<script src="/js/breakpoints.min.js"></script>
					<script src="/js/main.js"></script>
					<!-- banner 外掛 -->
					<script src="/js/jquery-1.11.2.min.js"></script>
					<script src="/js/jquery.flexslider-min.js"></script>
					<script src="/js/templatemo-script.js"></script>
					<script src="/js/moment.js"></script>
					<script src="/js/bootstrap.min.js"></script>

					<script>
						// HTML document is loaded. DOM is ready.
						$(function () {

							$('#hotelCarTabs a').click(function (e) {
								e.preventDefault()
								$(this).tab('show')
							})

							$('.date').datetimepicker({
								format: 'MM/DD/YYYY'
							});
							$('.date-time').datetimepicker();

							// https://css-tricks.com/snippets/jquery/smooth-scrolling/
							$('a[href*=#]:not([href=#])').click(function () {
								if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
									var target = $(this.hash);
									target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
									if (target.length) {
										$('html,body').animate({
											scrollTop: target.offset().top
										}, 1000);
										return false;
									}
								}
							});
						});

						// Load Flexslider when everything is loaded.
						$(window).load(function () {
							// Vimeo API nonsense


							//	For images only
							$('.flexslider').flexslider({
								controlNav: false
							});


						});
					</script>

</body>

</html>